.submitButton {
  background-color: orange;
  color: white;
  width: 100%;
  line-height: 20px;
  border: none;
  padding: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin-top: 10px;
}
